[project]
	description = Just another repository
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/SharanyaVP
[access "refs/for/refs/*"]
	read = group user/SharanyaVP
	push = group user/SharanyaVP
	label-Code-Review = -2..+2 group user/SharanyaVP
	label-Verified = -1..+1 group user/SharanyaVP
	rebase = group user/SharanyaVP
	removeReviewer = group user/SharanyaVP
	submit = group user/SharanyaVP
[access "refs/heads/*"]
	read = group user/SharanyaVP
	create = group user/SharanyaVP
	push = +force group user/SharanyaVP
	pushMerge = group user/SharanyaVP
[access "refs/tags/*"]
	push = +force group user/SharanyaVP
	pushTag = group user/SharanyaVP
	pushSignedTag = group user/SharanyaVP
